<div class="site-nav site-nav--icons">
  <div class="site-nav__icons">  
    <!-- {% if show_selectors %} -->
      {% form 'localization', class: 'multi-selectors site-footer__section', data-disclosure-form: '' %}
        <!-- {% if locale_selector %} -->
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="LangHeading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-locale>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="LangList" aria-describedby="LangHeading" data-disclosure-toggle>
                <span class="multi-picker__label">
                  {{ form.current_locale.endonym_name | capitalize }}
                </span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg>
              </button>
              <ul id="LangList" class="disclosure-list" data-disclosure-list>
                {% for locale in form.available_locales %}
                  <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                      {{ locale.endonym_name | capitalize }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input>
            </div>
          </div>
        <!-- {% endif %} -->

        <!-- {% if currency_selector %} -->
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="CurrencyHeading">
              {{ 'general.currency.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-currency>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="CurrencyList" aria-describedby="CurrencyHeading" data-disclosure-toggle>
                {% if section.settings.show_currency_flags %}
                  <span class="currency-flag currency-flag--small currency-flag--{{ localization.country.iso_code | downcase }}" data-flag="{{ localization.country.currency.iso_code }}" aria-hidden="true"></span>
                {% endif %}
                <span class="multi-picker__label">
                  {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                </span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg>
              </button>
              <ul id="CurrencyList" class="disclosure-list" data-disclosure-list>
                {% for country in form.available_countries %}
                  <li class="disclosure-list__item {% if country.iso_code == localization.country.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" {% if country.iso_code == localization.country.currency.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}" data-disclosure-option>
                      {% if section.settings.show_currency_flags %}
                        <span class="currency-flag currency-flag--{{ country.iso_code | downcase }}" data-flag="{{ country.currency.iso_code }}" aria-hidden="true"></span>
                      {% endif %}
                      <span class="multi-picker__label">
                        {{ country.name }} {{ country.currency.iso_code }} {% if country.currency.symbol %}{{ country.currency.symbol }}{% endif %}
                      </span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <input type="hidden" name="country_code" value="{{ localization.country.currency.iso_code }}" data-disclosure-input>
            </div>
          </div>
        <!-- {% endif %} -->
      {% endform %}
    <!-- {% endif %}     -->

    
    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64"><title>Account</title><path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16Z"/></svg>
        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    {%- if section.settings.header_search_enable -%}
      <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-modal-open-search-modal js-no-transition{% if menu_alignment == 'center' or menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><title>Search</title><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58ZM54 54 41.94 42"/></svg>
        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {%- endif -%}

    {%- if menu_alignment == 'left'
       or menu_alignment == 'left-center'
       or menu_alignment == 'right' -%}
      <button
        type="button"
        class="site-nav__link site-nav__link--icon js-toggle-slide-nav{% if menu_alignment == 'left' or menu_alignment == 'left-center' or menu_alignment == 'right' %} medium-up--hide{% endif %}{% if mobile_menu_style == 'thumb' %} hide{% endif %}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><title>icon-hamburger</title><path d="M7 15h51M7 32h43M7 49h51"/></svg>
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {%- endif -%}

    {%- unless settings.cart_type == 'sticky' -%}
      <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon site-nav__link--cart js-drawer-open-cart js-no-transition" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
        <span class="cart-link">
          {%- if settings.cart_icon == 'cart' -%}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><title>icon-cart</title><path d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
          {%- else -%}
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><g fill="none" stroke="#000" stroke-width="2"><path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"/><path d="M14.74 18h36.51l3.59 36.73h-43.7z"/></g></svg>
          {%- endif -%}
          <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
          <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
            <span class="cart-link__bubble-num" aria-hidden="true">
              {{ cart.item_count }}
            </span>
          </span>
        </span>
      </a>
    {%- endunless -%}

<!-- /* ***************************增加地區選擇ico事件 by zeus20240126**************************************************** */        -->          
                    <div class="site-nav__link site-nav__link--icon">
						<div class="toggle h-100 d-flex">
                            <a class="site-nav__link--icon small--hide seanRegionSelect-toggle">
                                <svg style="width:20px; height:20px;" class="icon" version="1.1" id="圖層_1" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 425.2 425.2" xml:space="preserve" >
                                <title>Country/Region</title>
                                <style type="text/css">.st3{fill:#FFFFFF;}</style>
                                <path class="st3" d="M214.8,19.5C214.8,19.5,214.8,19.5,214.8,19.5C105.9,19.5,17.3,108,17.3,216.9c0,108.9,88.6,197.4,197.4,197.4
                                	c108.9,0,197.4-88.6,197.4-197.4C412.2,108,323.6,19.5,214.8,19.5z M384.6,203.4h-79c-1.3-28.6-6.6-56.5-15.6-82.3
                                	c15.7-6.5,30.6-15,44.2-25.4C362.6,123.6,381.2,161.3,384.6,203.4z M149.8,337.9c7.9,16.7,17.5,32,28.3,45.4
                                	c-22.4-4.9-43.2-14.3-61.4-27.1C127.1,348.8,138.2,342.7,149.8,337.9z M175.9,329.5c12.7-3,25.7-4.5,38.9-4.5
                                	c13.2,0,26.2,1.5,38.9,4.5c-10.3,20.9-23.4,39.2-38.9,53.5C199.3,368.6,186.1,350.4,175.9,329.5z M279.7,337.9
                                	c11.6,4.8,22.7,10.9,33.1,18.2c-18.2,12.8-38.9,22.2-61.4,27.1C262.3,369.9,271.8,354.6,279.7,337.9z M214.8,297.8
                                	c-16.8,0-33.4,2.2-49.5,6.3c-8-22.8-12.9-47.8-14.2-73.7h127.3c-1.3,25.9-6.2,50.9-14.2,73.7C248.2,300,231.6,297.8,214.8,297.8z
                                	 M151.1,203.4c1.3-25.9,6.2-50.8,14.1-73.6c16,4.1,32.7,6.3,49.5,6.3c16.8,0,33.4-2.2,49.5-6.3c8,22.8,12.9,47.8,14.2,73.7H151.1z
                                	 M279.7,95.9c-7.9-16.7-17.4-32-28.3-45.4c22.4,4.9,43.2,14.3,61.4,27.1C302.4,85,291.4,91.1,279.7,95.9z M253.7,104.3
                                	c-12.7,3-25.7,4.5-38.9,4.5c-13.2,0-26.3-1.5-38.9-4.5c10.3-20.9,23.4-39.2,38.9-53.5C230.3,65.2,243.4,83.4,253.7,104.3z M149.7,96
                                	c-11.7-4.8-22.8-10.9-33.2-18.2c18.2-12.9,39-22.3,61.5-27.2C167.2,64,157.7,79.2,149.7,96z M95.2,95.7
                                	c13.7,10.4,28.6,18.9,44.3,25.4c-9,25.8-14.2,53.7-15.5,82.2H45C48.3,161.4,66.9,123.7,95.2,95.7z M45,230.5h79
                                	c1.3,28.6,6.6,56.5,15.6,82.3c-15.7,6.5-30.6,15-44.2,25.4C66.9,310.3,48.3,272.5,45,230.5z M334.2,338.2
                                	c-13.7-10.4-28.5-18.9-44.2-25.4c9-25.8,14.3-53.7,15.6-82.3h79C381.2,272.5,362.6,310.3,334.2,338.2z"/>
                                </svg>
                                <span class="icon__fallback-text">Country/Region</span>
                            </a>
						</div>
                	</div>
<!-- /* ***************************增加地區選擇ico事件 by zeus20240126**************************************************** */        -->                                   
<!-- /* ****************************Heder加入切換語系 by zeus20240118**************************************************** */        -->                                  
                    {%- if localization.country.iso_code == 'TW' -%}
                      <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown seanLanguageSelect-toggle">
                            <details id="site-nav-item--6" class="site-nav__details" data-hover="true" on="" aria-expanded="false">
                                <summary data-link="#" aria-expanded="false" aria-controls="site-nav-item--6" class="site-nav__link site-nav__link--underline site-nav__link--has-dropdown">                                
                                    {% case localization.language.name %}
                                      {% when '繁體中文' %}
                                        繁中
                                      {% when 'English' %}
                                        EN                   
                                      {% else %}
                                        {{ localization.language.name }}
                                    {% endcase %}
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16">
                                        <path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"></path>
                                    </svg>
                                </summary>
                            </details>
                          	<div class="content" style="display:none;">
        						<ul class="">
                                  {% for language in localization.available_languages %}
                                    <li class="">
                                      <a class="langID" href="{{ language.root_url }}">{{ language.endonym_name | capitalize }}</a>
                                    </li>
                                  {% endfor %}
    							</ul>
    						</div>      
                       </li>                            
                     {% endif %}
                                  
                      <!-- <script>
                        let _desk_lang = window.location.pathname;
                        if (_desk_lang.indexOf("/en-") != -1) {
                          _desk_lang = {{ language.root_url }} _desk_lang.substring(6);
                        }
                        else if (_desk_lang.indexOf("/en/") != -1) {
                          _desk_lang = {{ language.root_url }} _desk_lang.substring(3);
                        }
                        else if (_desk_lang.indexOf("/en") != -1 || _desk_lang.indexOf("/zh") != -1) {
                          _desk_lang = {{ language.root_url }} _desk_lang.substring(0,1);
                        }
                        window.onload = function () {
                          document.querySelectorAll(".langID").forEach( function (langAtags) {
                            if(langAtags.href.substr(-1) == "/") {
                              langAtags.href = langAtags.href.slice(0, -1) + _desk_lang;
                            }
                            else {
                              langAtags.href += _desk_lang;
                            }
                          });
                        }                                                                  
                      </script>                                   -->
              <!-- <div id="sean_tl-switcher-language" class="site-nav__link"></div> -->
<!-- /* ****************************Heder加入切換語系 by zeus20240118***************************************************** */                 -->
  </div>
</div>