<div class="slide-nav__overflow{% if mobile_menu_style == 'thumb'%} slide-nav__overflow--thumb{% else %} slide-nav__overflow--slide{% endif %}">
  <nav class="slide-nav__wrapper">
    <ul id="SlideNav" class="slide-nav">
      {% comment %}
        Do not show hardcoded 'Home' link if it matches the first menu link
      {% endcomment %}
      {%- unless main_menu.links[0].url == routes.root_url -%}
        <li class="slide-nav__item border-bottom">
          <a href="{{ routes.root_url }}" class="slide-nav__link mb-menu-logo">
            <img src="{{ section.settings.logo-inverted | img_url }}">
          </a>
        </li>
      {%- endunless -%}
      {%- for link in main_menu.links -%}
        {%- liquid
          assign link_index = forloop.index
          assign child_list_handle = link.title | handleize | append: link_index
          assign has_dropdown = false
          if link.links != blank
            assign has_dropdown = true
          endif
        -%}

        <li class="slide-nav__item">
          {%- if has_dropdown -%}
            <button
              type="button"
              class="js-toggle-submenu slide-nav__link"
              data-target="tier-2-{{ child_list_handle }}"
              data-level="1"
              {% if link.active or link.child_active %}data-active="true"{% endif %}>
              {{ link.title }}
              <span class="slide-nav__icon">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><title>icon-chevron</title><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98Z"/></svg>
                <span class="icon__fallback-text">{{ 'general.drawers.expand_submenu' | t }}</span>
              </span>
            </button>
            <ul
              class="slide-nav__dropdown"
              data-parent="tier-2-{{ child_list_handle }}"
              data-level="2">
              <li class="slide-nav__item border-bottom top-sticky-nav">
                <div class="slide-nav__table">
                  <div class="slide-nav__table-cell slide-nav__return">
                    <button class="js-toggle-submenu slide-nav__return-btn" type="button">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><title>icon-chevron-left</title><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0Z"/></svg>
                      <span class="icon__fallback-text">{{ 'general.drawers.collapse_submenu' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="slide-nav__sublist-link slide-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

                <li class="byzoom-mb-menu">
                    <div class="">
                        <ul class="menu-subcategories" role="menu">
                            {%- for childlink in link.links -%}
                                {% assign id_more = childlink.title | downcase %}
                                {% if id_more != 'more' %}
                                    {% assign menu_image = childlink.object.metafields.custom.menu_img.value %}
                                    <li class="dropdown-itemX" role="menuitem">
                                        {% if menu_image %}
                                        <img src="{{ menu_image | img_url: '400x' }}">
                                        {% endif %}
                                        <a href="{{ childlink.url }}" class="bold-name">{{ childlink.title }}</a>
                                        {%- for childlink2 in childlink.links -%}
                                            <a href="{{ childlink2.url }}" class="">{{ childlink2.title }}</a>
                                        {%- endfor -%}
                                    </li>
                                {% endif %}
                            {%- endfor -%}
                        </ul>
                        {%- for childlink in link.links -%}
                            {% assign id_more = childlink.title | downcase %}
                            {% if id_more == 'more' %}
                                <div class="content-asset">
                                    <a  class="more-title">MORE</a>
                                    <div class="menu-content">
                                        <div class="more-asset">
                                            {%- for childlink2 in childlink.links -%}
                                                <a href="{{ childlink2.url }}" role="menuitem" class="header-link">{{ childlink2.title }}</a>
                                            {%- endfor -%}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {%- endfor -%}
                    </div>
                </li>
            </ul>
          {%- else -%}
            <a href="{{ link.url }}" class="slide-nav__link">
              {{ link.title }}
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
      {%- if shop.customer_accounts_enabled -%}
        <li class="slide-nav__item medium-up--hide">
          <a
            href="{{ routes.account_url }}"
            class="slide-nav__link">
            {%- if customer -%}
              {{ 'layout.customer.account' | t }}
            {%- else -%}
              {{ 'layout.customer.log_in' | t }}
            {%- endif -%}
          </a>
        </li>
      {%- endif -%}
      {%- if section.settings.header_search_enable -%}
        <li class="slide-nav__item medium-up--hide">
          <a
            href="{{ routes.search_url }}"
            class="slide-nav__link js-modal-open-search-modal js-no-transition">
            {{ 'general.search.title' | t }}
          </a>
        </li>
      {%- endif -%}

<!-- /* ***************************增加地區選擇ico事件 by zeus20240126**************************************************** */        -->     
                    <li class="slide-nav__item">
                      <a href="#" class="slide-nav__link seanRegionSelect-toggle" style="text-transform: uppercase;">
                        {% case localization.language.name %}
                        {% when '繁體中文' %}
                          選擇地區
                        {% when 'English' %}
                          Country/Region                   
                        {% else %}
                          Country/Region
                        {% endcase %}
                      </a>
                    </li>
<!-- /* ***************************增加地區選擇ico事件 by zeus20240126**************************************************** */        -->                                   
<!-- /* ****************************Heder加入切換語系 by zeus20240118**************************************************** */        -->                                  
                    {%- if localization.country.iso_code == 'TW' -%}
        				<li class="slide-nav__item lang-title">                   
        					<a class="slide-nav__link" style="text-transform: uppercase;">
                              {% case localization.language.name %}
                              {% when '繁體中文' %}
                                語言
                              {% when 'English' %}
                                Language                   
                              {% else %}
                                Language
                              {% endcase %}
                            </a>
        				</li>
        				<div class="lang-list-box" style="display: none;">
                            {% for language in localization.available_languages %}
                              <a class="langID" href="{{ language.root_url }}">{{ language.endonym_name | capitalize }}</a>
                            {% endfor %}                          
        				</div>
                     {% endif %}
              <!-- <div id="sean_tl-switcher-language" class="site-nav__link"></div> -->
<!-- /* ****************************Heder加入切換語系 by zeus20240118***************************************************** */                 -->
                        
                        
      <!-- /* ****************************Heder加入切換語系 by zeus20241018**************************************************** */   -->
      <!-- <li id="sean_tl-switcher-language_phone" class="slide-nav__item"></li> -->
      <!-- /* ****************************Heder加入切換語系 by zeus20241018**************************************************** */   -->
    </ul>
  </nav>
</div>
