{{ '//unpkg.com/flickity@2/dist/flickity.min.css' | stylesheet_tag: preload: true }}
{%- render 'product-compares_css', seanVariable: 'testS' -%}

<script defer src="{{ '//unpkg.com/flickity@2/dist/flickity.pkgd.min.js' }}"></script>
<script defer src="{{ 'product-compares.js' | asset_url }}"></script>
<script defer>
  document.addEventListener('DOMContentLoaded', (e) => { initLoad("product-compares_{{ section.id }}"); });
</script>

<div class="product-compares_section index-section{% if section.settings.alt %} index-section--alt{% endif %}">
  <div class="page-width" data-section-id="{{ section.id }}" data-section-type="product-compares">
    {%- if section.settings.title != blank -%}
      <header class="section-header" data-aos>
        <h2 class="cphead">{{ section.settings.title }}</h2>
      </header>
    {%- endif -%}

    {%- if section.settings.item-title != blank -%}
        {{ section.settings.item-title }}
    {%- endif -%}
    
    {%- if section.blocks.size > 0 -%}
      <div id="product-compares_{{ section.id }}" style="display: none;" class="carousel" data-count="{{ section.blocks.size }}">
        {%- for block in section.blocks -%}
          <div class="carousel-cell {{ block.id }} {{ block.shopify_attributes }}">
            <!-- {{ forloop.index }} -->

            {%- if block.settings.pimage != blank -%}
              <img class="cpimage" src="{{ block.settings.pimage | img_url: '480x' }}">
            {%- endif -%}

            {%- if block.settings.pname != blank -%}
              <div class="cpname">{{ block.settings.pname }}</div>
            {%- endif -%}

            {%- if block.settings.pspec != blank -%}
              <div class="cpspec">{{ block.settings.pspec }}</div>
            {%- endif -%}

            {%- if block.settings.pcolor != blank -%}
              <div class="cpcolor">{{ block.settings.pcolor }}</div>
            {%- endif -%}

            {%- if block.settings.pbtm_txt != blank -%}
              <a class="cpbtm btn tbtn" href="{{ block.settings.pbtm_url }}"> {{ block.settings.pbtm_txt }}</a>
            {%- endif -%}

            {%- if block.settings.pitem != blank -%}
              <div class="cpitem">
                {{ block.settings.pitem }}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product-compares.name",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "product-compares"
    },
    {
      "type": "checkbox",
      "id": "alt",
      "label": "Use alternate section color"
    },
    {
      "type":"html",
      "id": "item-title",
      "label": "Item Title",
      "default": "<p>product-title</p>"
    }    
  ],
  "blocks": [
    {
      "type": "items-cell",
      "name": "t:sections.product-compares.blocks.items-cell.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "pimage",
          "label": "Product's image"
        },
        {
          "type": "text",
          "id": "pname",
          "label": "Product's name",
          "default": "Product's name"
        },
        {
          "type": "text",
          "id": "pspec",
          "label": "Product's spec",
          "default": "Product's spec"
        },
        {
          "type":"html",
          "id": "pcolor",
          "label": "Product's color",
          "default": "Product's color"
        },
        {
          "type": "text",
          "id": "pbtm_txt",
          "label": "Buttom's text",
          "default": "More.."
        },
        {
          "type":"url" ,
          "id": "pbtm_url",
          "label": "Buttom's link",
        },
        {
          "type":"html",
          "id": "pitem",
          "label": "Product's item",
          "default": "<p>Product's item.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-compares.presets.product-compares.name",
      "blocks": [
        {
          "type": "items-cell"
        },
        {
          "type": "items-cell"
        },
        {
          "type": "items-cell"
        },
        {
          "type": "items-cell"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
