<div class="index-section{% if section.settings.alt %} index-section--alt{% endif %}"> 

<style> 

  #shopify-section-{{ section.id }} .section-header__title {
      text-transform: uppercase;
  }
  
  #shopify-section-{{ section.id }} .section-header {
    margin-bottom: 10px;
  }
  
  #shopify-section-{{ section.id }} .wrapperH {
    width: 15%; 
    display: inline-block;
    /* height: 821.438px; */
  }

  #shopify-section-{{ section.id }} .slideshow-wrapper { 
    display: inline-block; 
    width: 84%; 
    left: -10px;
  }

  @media only screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .wrapperH {
      width: 30%; 
      /* height: 821.438px; */
    }
  
    #shopify-section-{{ section.id }} .slideshow-wrapper { 
      width: 69%; 
      left: -3px;
    }
  }
  
  /* 
  #shopify-section-{{ section.id }} .imgH {
    height: 150px;
  }
  
  #shopify-section-{{ section.id }} .citeH {
    font-size: 20px;
    font-weight: 500;
    height: 30px;
  }

  #shopify-section-{{ section.id }} .testimonial-image {   
    height: 150px;
    width: 150px;
  } */
  
  #shopify-section-{{ section.id }} table {
    border-spacing: 0px;
    background: none;
    /* font-size: 18px;
    font-weight: 500; */
  }  

  #shopify-section-{{ section.id }} td img {
    display: inline-block;
    /* width: 30px;
    margin: -3px 3px -8px 3px; */
  }
  
  #shopify-section-{{ section.id }} table td, th {
      /* background: var(--colorBody); */
      border: 0 none;
      /* padding: 10px 10px;
      text-align: left;
      border-bottom: 1px solid #cbd5e0;
      height: 48px; */
  }  

  /* #shopify-section-{{ section.id }} .tableDescribe td, th {
      text-align: center;
  }     */

  /* #shopify-section-{{ section.id }} table .tdx2 {
      height: 75px
  }        

  #shopify-section-{{ section.id }} table .tdx3 {
      height: 102px
  }          

  #shopify-section-{{ section.id }} table .tdxImg {
      height: 48px
  } */

  #shopify-section-{{ section.id }} table tr:nth-child(even) td {
    background-color: #f9f9f9;
  }

  #shopify-section-{{ section.id }} .flickity-page-dots {
    bottom: 0px;
  }

  #shopify-section-{{ section.id }} ol .dot {
    height: 10px;
    width: 10px;
    margin-right: 20px;
  }
  
  #shopify-section-{{ section.id }} ol .dot.is-selected {
    height: 15px;
    width: 15px;
  }
</style>

  
  <div class="page-width text-{{ section.settings.align_text }}" data-section-id="{{ section.id }}" data-section-type="testimonials">  
    {%- if section.settings.title != blank -%}
      <header class="section-header" data-aos>
        <h2 class="section-header__title appear-delay">
          {{ section.settings.title }}
        </h2>
      </header>
    {%- endif -%}

<div>
    {%- if section.settings.table-title != blank -%}
        {{ section.settings.table-title }}
    {%- endif -%}
  

    {%- if section.blocks.size > 0 -%}
      <div class="slideshow-wrapper">
        <div class="testimonials-slider" id="Testimonials-{{ section.id }}" data-count="{{ section.blocks.size }}">
          {%- for block in section.blocks -%}
            <div class="testimonials-slide testimonials-slide--{{ block.id }}" data-aos {{ block.shopify_attributes }}>
              <blockquote class="testimonials-slider__text">
                <!--底圖ico <span class="quote-icon"> <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766Zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766Z" fill-rule="evenodd"/></svg></span> -->
                {%- if block.settings.image != blank -%}
                  <div class="testimonial-image{% if section.settings.round_images %} testimonial-image--round{% endif %}">
                    <div class="image-wrap text-spacing"
                      {% if section.settings.round_images == false %}
                        style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;"
                      {% endif %}
                    >
                      {%- render 'image-element',
                        img: block.settings.image,
                        sizes: '80px',
                        widths: '180, 360, 540, 750, 900, 1080',
                      -%}
                    </div>
                  </div>
                {%- endif -%}
                {%- if block.settings.pname != blank -%}
                  <div class="citeH">{{ block.settings.pname }}</div>
                {%- endif -%}                
                {%- if block.settings.product-describe != blank -%}
                  <div class="rte-setting text-spacing">{{ block.settings.product-describe }}</div>
                {%- endif -%}
                {%- if block.settings.buttom_text != blank -%}
                  <a href="{{ block.settings.buttom_link }}" class="btn tbtn">
                    {{ block.settings.buttom_text }}
                  </a>
                {%- endif -%}
              </blockquote>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
    
</div>
    
</div>

<script>
  // (function(){
  //   document.getElementById("Testimonials-{{ section.id }}").classList.remove("flickity-enabled");
  //   document.getElementById("Testimonials-{{ section.id }}").classList.remove("is-draggable"); 
  // })();
  
  // document.addEventListener('DOMContentLoaded', function(){
  //   document.getElementById("Testimonials-{{ section.id }}").classList.remove("flickity-enabled");
  //   document.getElementById("Testimonials-{{ section.id }}").classList.remove("is-draggable");  
  // }, false)
  
  window.onload = function() {
    document.getElementsByClassName("wrapperH")[0].style.height = document.getElementsByClassName("flickity-viewport")[0].style.height;
  };
</script>

{% schema %}
{
  "name": "t:sections.product-describes.name",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.product-describes.settings.title.label",
      "default": "product-describes"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.product-describes.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.product-describes.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.product-describes.settings.align_text.options.center.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "round_images",
      "label": "t:sections.product-describes.settings.round_images.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "alt",
      "label": "t:sections.product-describes.settings.alt.label"
    },
    {
      "type":"html",
      "id": "table-title",
      "label": "t:sections.product-describes.settings.table-title.label",
      "default": "<p>table-title.</p>"
    },       
  ],
  "blocks": [
    {
      "type": "product-describe",
      "name": "t:sections.product-describes.blocks.product-describe.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.product-describes.blocks.product-describe.settings.image.label"
        },
        {
          "type": "text",
          "id": "pname",
          "label": "t:sections.product-describes.blocks.product-describe.settings.pname.label",
          "default": "Product's name"
        },        
        {
          "type":"html",
          "id": "product-describe",
          "label": "t:sections.product-describes.blocks.product-describe.settings.product-describe.label",
          "default": "<p>Add product describes.</p>"
        },
        {
          "type": "text",
          "id": "buttom_text",
          "label": "t:sections.product-describes.blocks.product-describe.settings.buttom_text.label",
          "default": "More.."
        },   
        {
          "type":"url" ,
          "id": "buttom_link",
          "label": "t:sections.product-describes.blocks.product-describe.settings.buttom_link.label",
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-describes.presets.product-describes.name",
      "blocks": [
        {
          "type": "product-describe"
        },
        {
          "type": "product-describe"
        },
        {
          "type": "product-describe"
        },
        {
          "type": "product-describe"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
