{{ 'page_video.scss.css' | asset_url | stylesheet_tag: preload: true }}

<div class="index-section{% if section.settings.alt %} index-section--alt{% endif %} text-{{ section.settings.align_text }} sean_Custom">
  <div class="{% if section.settings.narrow_column %} page-width--narrow{% endif %} sean_page-width">
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2>{{ block.settings.title | escape }}</h2>
          {%- when 'page' -%}
            <div class="rte">
              {%- if block.settings.page_text != blank -%}
                {{ pages[block.settings.page_text].content }}
              {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div class="rte">
              {%- if block.settings.text != blank -%}
                {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                {{ block.settings.text }}

<!-- ****************************產品使用影片&訓練菜單頁面 by zeus20231113***************************************************** -->
{%- assign section1 = shop.metaobjects.page_videos['videos'].section1.value -%}
{%- assign section2 = shop.metaobjects.page_videos['videos'].section2.value -%}
                
<!-- {% for image in _filename %}
  <script>console.error(`debugger:{{ image }}`);</script> 
{% endfor %} -->

<div class="video-page">
  <div class="">
    
    <div class="items-width page-width">
      <!-- 項目一 -->
      <div class="items">
        <button aria-controls="items-1" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[0] }}</span>
          </span>
        </button>
        <div id="items-1" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[1] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[2] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 項目二 -->
      <div class="items">
        <button aria-controls="items-2" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[3] }}</span>
          </span>
        </button>
        <div id="items-2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[4] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[5] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 項目三 -->
      <div class="items">
        <button aria-controls="items-3" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[6] }}</span>
          </span>
        </button>
        <div id="items-3" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[7] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[8] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 項目四 -->
      <div class="items">
        <button aria-controls="items-4" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[9] }}</span>
          </span>
        </button>
        <div id="items-4" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[10] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[11] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 項目五 -->
      <div class="items">
        <button aria-controls="items-5" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[12] }}</span>
          </span>
        </button>
        <div id="items-5" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[13] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[14] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 項目六 -->
      <div class="items">
        <button aria-controls="items-6" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[15] }}</span>
          </span>
        </button>
        <div id="items-6" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[16] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[17] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 項目七 -->
      <div class="items">
        <button aria-controls="items-7" type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-expanded="false">
          <span class="collapsible-trigger__icon collapsible-trigger__icon--circle collapsible-trigger__icon--open" role="presentation">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"></path></svg>
            <span>{{ section1[18] }}</span>
          </span>
        </button>
        <div id="items-7" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <div class="video-wrapper">
              {{ section1[19] }}
            </div>
            <div class="flex-align-center py-4 py-xl-0 px-3 px-sm-4 px-xl-5">
                <div class="pb-xl-2">
                  {{ section1[20] }}
                </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    
    <div class="all-items-width">
      <div class="page-width" style="padding:0">
        <h3>{{ section2[0] }}</h3>
        <h4>{{ section2[1] }}</h4>
        <div>
          {{ section2[2] }}
          {{ section2[3] }}
          {{ section2[4] }}
          {{ section2[5] }}
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- ****************************產品使用影片&訓練菜單頁面 by zeus20231113***************************************************** -->

                  
                {%- if block.settings.enlarge_text %}</div>{% endif -%}
              {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
              {%- endif -%}
            </div>
          {%- when 'button' -%}
            <div class="rte">
              <a href="{{ block.settings.link }}" class="btn">
                {{ block.settings.link_text }}
              </a>
            </div>
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "rich-text_page_videos",
  "settings": [
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.rich-text.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "t:sections.rich-text.settings.narrow_column.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "alt",
      "label": "t:sections.rich-text.settings.alt.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.rich-text.blocks.heading.settings.title.label",
          "default": "Rich text"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "enlarge_text",
          "label": "t:sections.rich-text.blocks.text.settings.enlarge_text.label"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.rich-text.blocks.text.settings.text.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.rich-text.blocks.button.settings.link.label"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.rich-text.blocks.button.settings.link_text.label",
          "default": "Button"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.rich-text.blocks.page.name",
      "settings": [
        {
          "id": "page_text",
          "type": "page",
          "label": "t:sections.rich-text.blocks.page.settings.page_text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "rich-text_page_videos",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
