{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div
  class="text-with-icons {% if section.settings.alt %} index-section--alt{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="text-with-icons"
>
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <div
        class="
          text-with-icons__title
          section-header"
      >
        <h2 class="section-header__title  text-{{ section.settings.align_text }}">{{ section.settings.title }}</h2>
      </div>
    {%- endif -%}
    <div
      class="
        text-with-icons__blocks
        has-{{ section.settings.desktop_columns_per_row }}-per-row"
      data-block-count="{{ section.blocks.size }}"
      >
      {% for block in section.blocks %}
        <div class="text-with-icons__block text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="text-with-icons__block-icon">
            {% case block.settings.icon %}
              {% when 'bills'%}
                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-bills" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M16.96 11.72h66.08v70.76l-6.62 5.8-6.61-5.8-6.61 5.8-6.61-5.8-6.61 5.8-6.6-5.8-6.61 5.8-6.61-5.8-6.6 5.8-6.6-5.8V11.72zm7.01 22.88h49.36M23.97 46.28h49.01M23.97 57.96h28.57M23.97 69.64h28.57"/><path class="a" d="M61.63 66.87c0 2.69 4.18 2.51 4.18 2.51s4.19.27 4.19-3.23c0-2.27-4.16-2.25-4.16-2.25-4.85 0-4.16-3.33-4.16-3.33 0-3.74 4.22-3.43 4.22-3.43 4.51 0 4.08 3.43 4.08 3.43m-4.18-7.54v20.46M23.97 23.41h49.36"/></svg> -->
<svg height="100" width="100" version="1.1" id="圖層_1" xmlns:serif="http://www.serif.com/"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#B3B3B3;}
	.st1{fill:#403C3B;}
	.st2{fill:#B1B1B1;}
	.st3{opacity:0.97;}
	.st4{fill:#AFAFAF;}
	.st5{fill:#9FA0A0;}
</style>
<g transform="matrix(1,0,0,1,-460.11,-5459.88)">
	<g transform="matrix(1,0,0,1,-887.902,1061)">
		<g transform="matrix(1.43206,0,0,1.43206,-859.618,-1637.05)">
			<path class="st0" d="M1583.6,4222.5c-0.2-0.2-0.4-0.3-0.6-0.3h-24.2c0,0,0,0,0,0c0,0,0,0,0,0h0c-0.2,0-0.5,0.1-0.6,0.3l-8.4,8.4
				c-0.2,0.2-0.3,0.4-0.3,0.6v31.7c0,0.5,0.4,0.9,0.9,0.9h25.3c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-24.4v-29.9h7.6
				c0.5,0,0.9-0.4,0.9-0.9v-7.6h22.5l0,15.6c0,0.5,0.4,0.9,0.9,0.9c0,0,0,0,0,0c0.5,0,0.9-0.4,0.9-0.9l0-16.5
				C1583.8,4222.9,1583.7,4222.7,1583.6,4222.5z M1552.3,4230.7l5.5-5.5v5.5H1552.3z"/>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M356.4,159.9h-13.2c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h13.2c0.5,0,0.9,0.4,0.9,0.9
					C357.3,159.5,356.9,159.9,356.4,159.9z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M356.4,164h-13.2c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h13.2c0.5,0,0.9,0.4,0.9,0.9
					C357.3,163.6,356.9,164,356.4,164z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M356.4,168.1h-21.7c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h21.7c0.5,0,0.9,0.4,0.9,0.9
					C357.3,167.7,356.9,168.1,356.4,168.1z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M356.4,172.1h-21.7c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h21.7c0.5,0,0.9,0.4,0.9,0.9
					C357.3,171.8,356.9,172.1,356.4,172.1z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M350.9,176.2h-16.2c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h16.2c0.5,0,0.9,0.4,0.9,0.9
					C351.8,175.8,351.4,176.2,350.9,176.2z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M350.9,180.3h-16.2c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h16.2c0.5,0,0.9,0.4,0.9,0.9
					C351.8,179.9,351.4,180.3,350.9,180.3z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M350.9,184.4h-16.2c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h16.2c0.5,0,0.9,0.4,0.9,0.9
					C351.8,184,351.4,184.4,350.9,184.4z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M350.9,188.5h-16.2c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9h16.2c0.5,0,0.9,0.4,0.9,0.9
					C351.8,188.1,351.4,188.5,350.9,188.5z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M362.5,193.7c-3.3,0-6.5-2.9-8.1-4.6c-0.8-0.9-1.3-2-1.3-3.2v-10.5c0-0.3,0.1-0.5,0.3-0.7
					c0.2-0.2,0.5-0.2,0.7-0.2c5.7,1.2,7.6-1.4,7.6-1.4c0.2-0.2,0.4-0.4,0.7-0.4l0,0c0.3,0,0.6,0.1,0.7,0.4c0.1,0.1,1.9,2.6,7.6,1.4
					c0.3-0.1,0.5,0,0.7,0.2c0.2,0.2,0.3,0.4,0.3,0.7v10.5c0,1.2-0.4,2.3-1.3,3.2C369,190.8,365.8,193.7,362.5,193.7z M354.9,176.4
					v9.5c0,0.8,0.3,1.5,0.8,2c1.1,1.2,4.1,4,6.9,4c2.7,0,5.4-2.5,6.9-4c0.5-0.5,0.8-1.2,0.8-2v-9.5c-4.2,0.6-6.6-0.7-7.6-1.6
					C361.4,175.8,359.1,177,354.9,176.4z"/>
			</g>
			<g transform="matrix(1,0,0,1,1220.46,4069.49)">
				<path class="st0" d="M361.7,187.1c-0.2,0-0.4-0.1-0.6-0.2l-3.9-3.2c-0.4-0.3-0.4-0.9-0.1-1.2c0.3-0.4,0.9-0.4,1.2-0.1l3.3,2.7
					l5.5-5.5c0.3-0.3,0.9-0.3,1.2,0c0.3,0.3,0.3,0.9,0,1.2l-6,6C362.2,187,362,187.1,361.7,187.1z"/>
			</g>
		</g>
	</g>
</g>
</svg>
              {% when 'calendar'%}
                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-calendar" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M21.3 17.08v10.14m14.22-10.14v10.14m14.22-10.14v10.14m14.23-10.14v10.14m14.22-10.14v10.14m-65.56 5.01h74.74M12.63 22.15h74.74v60.77H12.63z"/><path class="a" d="M21.05 38.72h14.47v12.77H21.05zm14.48 0H50v12.77H35.53zm14.47 0h14.47v12.77H50zm14.47 0h14.47v12.77H64.47z"/><path class="a" d="M21.05 51.48h14.47v12.77H21.05zm14.48 0H50v12.77H35.53zm14.47 0h14.47v12.77H50zm14.47 0h14.47v12.77H64.47zM21.05 64.25h14.47v12.77H21.05zm14.48 0H50v12.77H35.53zm14.47 0h14.47v12.77H50zm14.47 0h14.47v12.77H64.47z"/></svg> -->
<svg height="100" width="100" version="1.1" id="圖層_1" xmlns:serif="http://www.serif.com/"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve">
<style type="text/css">
	.st0{fill:#B3B3B3;}
	.st1{fill:#403C3B;}
	.st2{fill:#B1B1B1;}
	.st3{opacity:0.97;}
	.st4{fill:#AFAFAF;}
	.st5{fill:#9FA0A0;}
</style>
<g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1114.7-3662.8c-0.4,0-0.8-0.2-1-0.6c-0.4-0.6-0.2-1.4,0.4-1.7l4.4-2.9l-9.8-15.2l-4.4,2.9
			c-0.6,0.4-1.4,0.2-1.7-0.4s-0.2-1.4,0.4-1.7l5.5-3.6c0.3-0.2,0.6-0.2,0.9-0.2c0.3,0.1,0.6,0.3,0.8,0.5l11.2,17.3
			c0.4,0.6,0.2,1.4-0.4,1.7l-5.5,3.6C-1114.2-3662.9-1114.4-3662.8-1114.7-3662.8z"/>
	</g>
	<path class="st4" d="M65.5,47.5c-0.8-1.7-2-2.8-3.4-3.3c-1.5-0.5-3.1-0.3-4.8,0.5l-0.2,0.1c-0.6,0.3-1.1,0.6-1.7,0.7
		c-3.1,1-5.3,1.6-6.7,2c-0.1-1.2-0.5-2.3-1.4-3.1c-0.9-0.9-2.1-1.4-3.4-1.4l-5.6,0.1c-0.6,0-1.1-0.1-1.3-0.1
		c-1.8-1.6-4.4-2.4-7.2-2.2c-3.1,0.2-6,1.5-7.9,3.6l-3.3,3.1l-2,1.3c-0.6,0.4-0.7,1.2-0.3,1.7c0.4,0.6,1.2,0.7,1.7,0.3l2.1-1.4
		c0.1,0,0.1-0.1,0.2-0.1l3.4-3.2c0,0,0.1-0.1,0.1-0.1c1.5-1.7,3.8-2.7,6.3-2.9c2.2-0.1,4.2,0.5,5.5,1.7c0.7,0.6,2.1,0.7,2.9,0.7
		l5.6-0.1c0.6,0,1.2,0.2,1.6,0.6c0.4,0.4,0.7,1,0.7,1.6c0,1.2-0.9,2.1-2.1,2.2l-6.9,0.4c-0.7,0-1.2,0.6-1.2,1.3
		c0,0.7,0.6,1.2,1.2,1.2c0,0,0,0,0.1,0l6.9-0.4c1.6-0.1,2.9-1,3.7-2.2c1.1-0.2,3.7-0.9,8.2-2.4c0.7-0.2,1.4-0.6,2-0.9l0.2-0.1
		c1.1-0.5,2.1-0.7,2.9-0.4c0.6,0.2,1,0.6,1.5,1.1c-0.4,0.3-0.8,0.6-1.4,0.9l-2.8,1.8c-2.1,1.3-4.5,2.9-6.4,3.9
		c-0.8,0.5-1.5,0.9-2.1,1.2c-2.5,1.5-3.4,2.1-6.7,2.1L29.3,58c-0.2,0-0.5,0.1-0.7,0.2L24.4,61c-0.6,0.4-0.7,1.2-0.3,1.7
		c0.2,0.4,0.6,0.6,1,0.6c0.2,0,0.5-0.1,0.7-0.2l3.9-2.6l13.7-0.4c3.9,0,5.3-0.8,8-2.4c0.6-0.4,1.3-0.8,2.1-1.2
		c1.9-1.1,4.4-2.6,6.5-4l2.8-1.8c0.8-0.5,1.9-1.2,2.5-1.8C65.6,48.6,65.7,48,65.5,47.5z"/>
	<path class="st4" d="M59.9,16.5c-2.5-2.2-5.8-3.3-9.2-2.9c-5.3,0.6-9.6,4.9-10.3,10.1c-0.6,4.7,1.6,9.2,5.6,11.6
		c0.5,0.3,0.9,0.9,0.9,1.4c0,0.4,0.1,0.8,0.3,1.1v3.3c0,1.3,1.1,2.4,2.4,2.4h4.8c1.3,0,2.4-1.1,2.4-2.4v-3.2
		c0.2-0.3,0.4-0.7,0.4-1.1c0-0.6,0.3-1.1,0.9-1.5c3.6-2.2,5.7-5.9,5.7-10.1C63.8,21.9,62.4,18.7,59.9,16.5z M49.7,41.1v-2.4h4.7v2.4
		H49.7z M56.9,33.2c-1.1,0.7-1.8,1.8-2,3h-5.5c-0.2-1.2-0.9-2.3-2-3c-3.1-1.9-4.9-5.5-4.4-9.2c0.5-4.1,3.9-7.5,8.1-8
		c2.7-0.3,5.2,0.5,7.2,2.3c2,1.8,3.1,4.3,3.1,6.9C61.3,28.5,59.7,31.5,56.9,33.2z"/>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1067.6-3706.2h-2.7c-0.7,0-1.2-0.6-1.2-1.2s0.6-1.2,1.2-1.2h2.7c0.7,0,1.2,0.6,1.2,1.2
			S-1066.9-3706.2-1067.6-3706.2z"/>
	</g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1097.3-3706.2h-2.7c-0.7,0-1.2-0.6-1.2-1.2s0.6-1.2,1.2-1.2h2.7c0.7,0,1.2,0.6,1.2,1.2
			S-1096.6-3706.2-1097.3-3706.2z"/>
	</g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1074.2-3715.8c-0.3,0-0.6-0.1-0.9-0.4c-0.5-0.5-0.5-1.3,0-1.8l1.9-1.9c0.5-0.5,1.3-0.5,1.8,0
			c0.5,0.5,0.5,1.3,0,1.8l-1.9,1.9C-1073.6-3715.9-1073.9-3715.8-1074.2-3715.8z"/>
	</g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1095.2-3694.8c-0.3,0-0.6-0.1-0.9-0.4c-0.5-0.5-0.5-1.3,0-1.8l1.9-1.9c0.5-0.5,1.3-0.5,1.8,0s0.5,1.3,0,1.8
			l-1.9,1.9C-1094.6-3694.9-1094.9-3694.8-1095.2-3694.8z"/>
	</g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1072.4-3694.8c-0.3,0-0.6-0.1-0.9-0.4l-1.9-1.9c-0.5-0.5-0.5-1.3,0-1.8s1.3-0.5,1.8,0l1.9,1.9
			c0.5,0.5,0.5,1.3,0,1.8C-1071.7-3694.9-1072-3694.8-1072.4-3694.8z"/>
	</g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1093.3-3715.8c-0.3,0-0.6-0.1-0.9-0.4l-1.9-1.9c-0.5-0.5-0.5-1.3,0-1.8s1.3-0.5,1.8,0l1.9,1.9
			c0.5,0.5,0.5,1.3,0,1.8C-1092.7-3715.9-1093-3715.8-1093.3-3715.8z"/>
	</g>
	<g transform="matrix(1,0,0,1,1135.86,3732.32)" class="st3">
		<path class="st4" d="M-1083.9-3719.3c-0.7,0-1.2-0.6-1.2-1.2v-2.7c0-0.7,0.6-1.2,1.2-1.2s1.2,0.6,1.2,1.2v2.7
			C-1082.7-3719.9-1083.2-3719.3-1083.9-3719.3z"/>
	</g>
</g>
<g>
	<path class="st2" d="M50.1,26.7c-0.3-0.3-0.8-0.5-1.4-0.6l-0.1,0l1.6-1.5v-1h-4.5l0,1.4h2.3l-1.4,1.3v1h1.1c0.4,0,0.7,0.1,0.8,0.2
		c0.2,0.1,0.3,0.3,0.3,0.5c0,0.2-0.1,0.4-0.3,0.6c-0.2,0.1-0.5,0.2-0.8,0.2c-0.3,0-0.6-0.1-0.9-0.2s-0.5-0.3-0.8-0.5L46.2,28
		l-0.7,1.3l0.1,0.1c0.3,0.2,0.7,0.4,1.1,0.5c0.4,0.1,0.9,0.2,1.3,0.2c0.5,0,1-0.1,1.4-0.3c0.4-0.2,0.7-0.4,0.9-0.8s0.3-0.7,0.3-1.1
		C50.7,27.4,50.5,27,50.1,26.7L50.1,26.7z"/>
	<path class="st2" d="M55.7,24.3c-0.5-0.6-1.2-0.9-2.1-0.9c-0.9,0-1.6,0.3-2.1,0.9c-0.5,0.6-0.7,1.4-0.7,2.4c0,1,0.2,1.9,0.7,2.4
		c0.5,0.6,1.2,0.9,2.1,0.9c0.9,0,1.6-0.3,2.1-0.9c0.5-0.6,0.7-1.4,0.7-2.4C56.4,25.7,56.2,24.9,55.7,24.3z M52.7,25.2L52.7,25.2
		c0.2-0.3,0.5-0.4,0.9-0.4c0.4,0,0.7,0.1,0.9,0.4c0.2,0.3,0.3,0.8,0.3,1.5c0,0.7-0.1,1.2-0.3,1.5c-0.2,0.3-0.5,0.4-0.9,0.4
		c-0.4,0-0.7-0.1-0.9-0.4c-0.2-0.3-0.3-0.8-0.3-1.5C52.4,26.1,52.5,25.5,52.7,25.2z"/>
</g>
<polygon class="st0" points="58.8,22.9 58.8,21.6 57.6,21.6 57.6,22.9 56.4,22.9 56.4,24.1 57.6,24.1 57.6,25.3 58.8,25.3 
	58.8,24.1 60,24.1 60,22.9 "/>
</svg>              
              {% when 'cart'%}
                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-cart" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M26.81 71.11h-.05"/><circle class="a" cx="42.66" cy="76.95" r="6.73"/><circle class="a" cx="72.7" cy="76.95" r="6.73"/><path class="a" d="M38.99 59.17 23.7 16.32H11.36"/><path class="a" d="M27.26 26.3h61.38L77 59.17H39a5.53 5.53 0 0 0-5.53 5.53A5.53 5.53 0 0 0 39 70.22h43.87M57.95 59.17V26.3m-9.12 32.87L42.61 26.3m24.46 32.87L73.3 26.3m11.78 10.04H30.84m49.84 12.39H35.27"/></svg> -->
<svg height="100" width="100" version="1.1" id="圖層_1" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve">
<style type="text/css">
	.st0{fill:#B3B3B3;}
	.st1{fill:#403C3B;}
	.st2{fill:#B1B1B1;}
	.st3{opacity:0.97;}
	.st4{fill:#AFAFAF;}
	.st5{fill:#9FA0A0;}
</style>
<g transform="matrix(1,0,0,1,-679.682,-5453.85)">
	<g transform="matrix(1,0,0,1,-887.902,1061)">
		<g transform="matrix(1.45917,0,0,1.45917,526.848,-1791.16)">
			<path class="st2" d="M739.1,4253.4C739.1,4253.4,739.1,4253.4,739.1,4253.4C739.1,4253.4,739.1,4253.4,739.1,4253.4
				c-7.3,0-13.2,5.9-13.2,13.2c0,7.3,5.9,13.2,13.2,13.2s13.2-5.9,13.2-13.2C752.3,4259.3,746.4,4253.4,739.1,4253.4z M748.7,4272.8
				c-1-0.5-2.1-0.9-3.1-1.2c0.3-1.3,0.4-2.7,0.5-4.1h4.4C750.4,4269.4,749.7,4271.2,748.7,4272.8z M727.6,4267.4h4.4
				c0,1.5,0.2,2.9,0.5,4.3c-1,0.3-2,0.7-3.1,1.2C728.5,4271.3,727.8,4269.5,727.6,4267.4z M729.6,4260.1c1,0.5,2,0.9,3.1,1.2
				c-0.3,1.4-0.5,2.9-0.5,4.4h-4.4C727.8,4263.7,728.5,4261.8,729.6,4260.1z M740,4262.1c1.4,0,2.6-0.2,3.9-0.5
				c0.3,1.3,0.5,2.7,0.5,4.1H740L740,4262.1z M740,4260.4l0-5.1c1.4,0.5,2.6,2.3,3.4,4.7C742.3,4260.2,741.2,4260.3,740,4260.4z
				 M738.2,4255.3l0,5.1c-1.2,0-2.4-0.1-3.5-0.4C735.6,4257.6,736.8,4255.8,738.2,4255.3z M738.3,4262.1l0,3.6h-4.5
				c0.1-1.4,0.2-2.8,0.5-4C735.5,4261.9,736.8,4262.1,738.3,4262.1z M733.8,4267.4h4.5l0,3.3c-1.4,0-2.7,0.2-4,0.5
				C734,4270.1,733.8,4268.8,733.8,4267.4z M738.3,4272.5l0,5.5c-1.5-0.5-2.8-2.4-3.6-5C735.9,4272.7,737.1,4272.5,738.3,4272.5z
				 M740,4277.9l0-5.4c1.3,0,2.4,0.2,3.5,0.4C742.7,4275.4,741.5,4277.3,740,4277.9z M740,4270.8l0-3.3h4.4c0,1.3-0.2,2.6-0.4,3.7
				C742.7,4270.9,741.4,4270.8,740,4270.8z M746.1,4265.7c-0.1-1.6-0.3-3.1-0.6-4.5c1-0.3,2-0.7,3-1.2c1.2,1.6,1.9,3.6,2,5.7H746.1z
				 M747.4,4258.6c-0.8,0.4-1.5,0.6-2.3,0.9c-0.5-1.4-1.1-2.7-1.8-3.6C744.8,4256.5,746.2,4257.4,747.4,4258.6z M734.9,4255.9
				c-0.7,1-1.4,2.3-1.8,3.8c-0.8-0.2-1.6-0.5-2.4-0.9C731.9,4257.5,733.3,4256.5,734.9,4255.9z M730.6,4274.3
				c0.8-0.4,1.6-0.7,2.4-0.9c0.5,1.5,1.1,2.9,1.9,3.9C733.3,4276.6,731.8,4275.6,730.6,4274.3z M743.2,4277.3c0.8-1.1,1.4-2.4,1.9-4
				c0.8,0.2,1.7,0.6,2.5,0.9C746.5,4275.6,745,4276.6,743.2,4277.3z"/>
			<g transform="matrix(1,0,0,1,308.13,3926.91)">
				<path class="st2" d="M446.6,349.5c-0.4-0.2-0.5-0.8-0.3-1.2l0,0c0.2-0.4,0.8-0.5,1.2-0.3l0,0c0.4,0.2,0.5,0.8,0.3,1.2l0,0
					c-0.2,0.3-0.4,0.4-0.7,0.4l0,0C446.9,349.6,446.7,349.5,446.6,349.5z M447.9,347.1c-0.4-0.2-0.7-0.7-0.5-1.1l0,0
					c0.2-0.4,0.7-0.7,1.1-0.5l0,0c0.4,0.2,0.7,0.7,0.5,1.1l0,0c-0.1,0.3-0.5,0.5-0.8,0.5l0,0C448.1,347.1,448,347.1,447.9,347.1z
					 M448.8,344.5c-0.5-0.1-0.7-0.6-0.6-1l0,0c0.1-0.5,0.6-0.7,1-0.6l0,0c0.5,0.1,0.7,0.6,0.6,1l0,0c-0.1,0.4-0.4,0.7-0.8,0.7l0,0
					C449,344.5,448.9,344.5,448.8,344.5z M449.4,341.9c-0.5,0-0.8-0.5-0.8-0.9l0,0c0-0.5,0.5-0.8,0.9-0.8l0,0c0.5,0,0.8,0.5,0.8,0.9
					l0,0C450.3,341.5,449.9,341.9,449.4,341.9L449.4,341.9C449.5,341.9,449.4,341.9,449.4,341.9z M448.7,338.3
					c0-0.5,0.3-0.9,0.8-0.9l0,0c0.5,0,0.9,0.3,0.9,0.8l0,0c0,0.5-0.3,0.9-0.8,0.9l0,0c0,0,0,0,0,0l0,0
					C449.1,339.1,448.7,338.8,448.7,338.3z M448.4,335.8c-0.1-0.5,0.2-0.9,0.7-1l0,0c0.5-0.1,0.9,0.2,1,0.7l0,0
					c0.1,0.5-0.2,0.9-0.7,1l0,0c-0.1,0-0.1,0-0.2,0l0,0C448.8,336.4,448.4,336.2,448.4,335.8z M447.7,333.3L447.7,333.3
					c-0.2-0.4,0.1-0.9,0.5-1.1l0,0c0.4-0.2,0.9,0.1,1.1,0.5l0,0c0.2,0.4-0.1,0.9-0.5,1.1l0,0c-0.1,0-0.2,0-0.3,0l0,0
					C448.1,333.8,447.8,333.6,447.7,333.3z M446.6,330.9L446.6,330.9c-0.2-0.4-0.1-0.9,0.3-1.2l0,0c0.4-0.2,0.9-0.1,1.2,0.3l0,0
					c0.2,0.4,0.1,0.9-0.3,1.2l0,0c-0.1,0.1-0.3,0.1-0.4,0.1l0,0C447.1,331.3,446.8,331.2,446.6,330.9z M445.2,328.7L445.2,328.7
					c-0.3-0.4-0.2-0.9,0.2-1.2l0,0c0.4-0.3,0.9-0.2,1.2,0.2l0,0c0,0,0,0,0,0l0,0c0.3,0.4,0.2,0.9-0.2,1.2l0,0
					c-0.2,0.1-0.3,0.2-0.5,0.2l0,0C445.6,329.1,445.4,328.9,445.2,328.7z M443.5,326.7c-0.3-0.3-0.3-0.9,0-1.2l0,0
					c0.3-0.3,0.9-0.3,1.2,0l0,0c0,0,0,0,0,0l0,0c0.3,0.3,0.3,0.9,0,1.2l0,0c-0.2,0.2-0.4,0.2-0.6,0.2l0,0
					C443.9,327,443.7,326.9,443.5,326.7z"/>
			</g>
			<path class="st2" d="M752.1,4279.6c-0.3-0.4-0.9-0.4-1.2-0.1c-7,6.2-17.7,5.9-24.3-0.7c-6.9-6.9-6.9-18.2,0-25.1
				c3-3,7-4.8,11.3-5.1l-2,2c-0.3,0.3-0.3,0.9,0,1.2c0.2,0.2,0.4,0.3,0.6,0.3c0.2,0,0.4-0.1,0.6-0.2l3.6-3.5
				c0.2-0.2,0.3-0.4,0.3-0.6s-0.1-0.4-0.3-0.6l-3.6-3.6c-0.3-0.3-0.9-0.3-1.2,0c-0.3,0.3-0.3,0.9,0,1.2l2.1,2.1
				c-4.8,0.3-9.2,2.3-12.6,5.7c-7.6,7.6-7.6,19.9,0,27.5c3.8,3.8,8.8,5.7,13.8,5.7c4.6,0,9.2-1.6,12.9-4.9
				C752.4,4280.5,752.4,4279.9,752.1,4279.6z"/>
		</g>
	</g>
</g>
</svg>
              {% when 'charity'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-charity" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="m63.41 68 21-10.58a4.16 4.16 0 0 1 5.67 2 4.17 4.17 0 0 1-1.93 5.39L54 82a3.35 3.35 0 0 1-2.16.25L39 75.82l-7.31 3.06m-8.93 7.79L9.6 55.92l10.24-4.64 13.17 30.75-10.25 4.64z"/><path class="a" d="m23.17 58.17 8.79-4a9.51 9.51 0 0 1 6.88-.37l22.25 7.31A4.52 4.52 0 0 1 63.41 68a4.51 4.51 0 0 1-5 1.77L43.8 65.32m35.57-48.38a12.34 12.34 0 0 0-17.44 0l-.79.79-.78-.79a12.34 12.34 0 1 0-17.44 17.45l.78.78 17.44 17.45 17.45-17.45.78-.78a12.34 12.34 0 0 0 0-17.45Z"/></svg>
              {% when 'chat'%}
                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-chat" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M88.78 28.25v47.18h-9.42v10.58L62.91 75.43H32.55V28.25h56.23zM41.85 42.53h37.51m-37.51 9.3h37.51m-37.51 9.31h26.58"/><path class="a" d="M67.45 13.99v14.26h-34.9v35.83l-11.91 7.67V61.16h-9.42V13.99h56.23z"/></svg> -->              
<svg height="76" width="80" version="1.1" id="圖層_1" xmlns:serif="http://www.serif.com/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="100 100" style="margin-top: -10px;" xml:space="preserve">
  <style type="text/css">
  	.st0{fill:#B3B3B3;}
  	.st1{fill:#403C3B;}
  	.st2{fill:#B1B1B1;}
  	.st3{opacity:0.97;}
  	.st4{fill:#AFAFAF;}
  	.st5{fill:#9FA0A0;}
  </style>
  <g id="_圖層_2-2">
  	<path class="st5" d="M5.8,37.6c0-1.5,0-3,0-4.6c0-0.2,0.1-0.4,0.1-0.6c0.4-3,1.3-5.9,2.7-8.6C12.5,16.5,18.7,11.8,26.3,9
  		C32.7,6.6,39.3,6,46,7c7.3,1.1,13.9,3.9,19.4,9c4.9,4.6,8.1,10.1,8.7,17c0.4,4.4-0.3,8.6-2,12.6c-1.7,4.2-4.5,7.6-7.7,10.6
  		C57.8,62.3,50.5,67.4,42.8,72c-1,0.6-2,1-3.2,1.3c-2.3,0.5-4-0.5-4.4-2.8c-0.1-0.3-0.1-0.7-0.1-1c-0.1-1.3,0.3-2.6,0.6-4
  		c0.2-0.8,0.1-1.1-0.8-1.3c-0.7-0.2-1.4-0.3-2.1-0.5c-6.1-1.1-11.8-3.4-16.6-7.4c-4-3.3-7-7.3-8.9-12.2C6.5,42,6.1,39.8,5.8,37.6
  		L5.8,37.6z M47.8,35c0-2,0-4.1,0-6.1c0-1-0.7-1.7-1.6-1.6c-0.9,0-1.4,0.7-1.4,1.7c0,2.1,0,4.2,0,6.3c0,0.3,0.2,0.6-0.2,0.7
  		c-0.3,0.1-0.4-0.3-0.5-0.5c-1.6-2.2-3.3-4.5-4.9-6.7c-0.2-0.3-0.4-0.5-0.6-0.7c-0.4-0.4-1-0.6-1.6-0.4c-0.6,0.2-1,0.7-1,1.3
  		c0,4.1,0,8.2,0,12.2c0,0.1,0,0.1,0,0.1c0.1,0.6,0.6,1.2,1.2,1.2c0.8,0.1,1.3-0.2,1.6-0.9c0.2-0.3,0.2-0.7,0.2-1.1c0-2,0-4,0-6
  		c0-0.2-0.1-0.4,0.1-0.5c0.2-0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.2,0.2,0.2,0.3c1.7,2.3,3.3,4.6,5,6.9c0.3,0.4,0.6,0.8,1.1,0.9
  		c1.1,0.2,1.9-0.4,1.9-1.6C47.7,39,47.7,37,47.8,35L47.8,35z M50.1,34.7c0,1.9,0,3.8,0,5.6c0,1.6,0.6,2.1,2.1,2.1c2.3,0,4.6,0,6.9,0
  		c0.3,0,0.7-0.1,1-0.1c0.6-0.2,1-0.6,1-1.3c0-0.7-0.3-1.2-0.9-1.5c-0.3-0.1-0.7-0.2-1.1-0.2c-1.7,0-3.4,0-5.1,0
  		c-0.6,0-0.9-0.2-0.8-0.8c0-0.4,0-0.8,0-1.1c0-0.8,0.4-1.2,1.2-1.2c1.2,0,2.5,0,3.8,0c0.5,0,1-0.2,1.3-0.6c0.3-0.5,0.4-1,0.2-1.5
  		c-0.3-0.6-0.8-0.9-1.4-0.9c-1.4,0-2.8,0-4.3,0c-0.5,0-0.8-0.2-0.7-0.7c0-0.5,0-1,0-1.5c0-0.9,0-0.9,0.9-0.9c1.7,0,3.4,0,5.1,0
  		c0.7,0,1.3-0.3,1.6-1c0.4-1.1-0.3-2-1.5-2c-2.4,0-4.8,0-7.2,0c-1.4,0-1.9,0.6-2,2c0,1.9,0,3.8,0,5.7V34.7z M19.7,35.1L19.7,35.1
  		c0,1.9,0,3.9,0,5.8c0,1.3,0.6,1.9,1.9,1.9c1.7,0,3.4,0,5.1,0c0.3,0,0.6,0,0.9-0.1c0.6-0.2,1-0.8,1-1.4c0-0.6-0.4-1.2-1.1-1.4
  		c-0.3-0.1-0.6-0.1-1-0.1c-1,0-2-0.1-3,0c-0.7,0-0.9-0.2-0.9-0.9c0-1.9,0-3.8,0-5.6c0-1.4,0-2.8,0-4.2c0-0.9-0.5-1.5-1.3-1.6
  		c-1-0.1-1.7,0.5-1.7,1.6C19.6,31,19.7,33,19.7,35.1z M30.1,35c0,2,0,4.1,0,6.1c0,1,0.6,1.6,1.6,1.6c0.9,0,1.4-0.6,1.4-1.7
  		c0-3.1,0-6.2,0-9.3c0-1,0-2,0-3c-0.1-1.1-1-1.7-2-1.4c-0.6,0.2-1,0.8-1,1.6C30.1,30.9,30.1,33,30.1,35z"/>
  </g>
</svg>                
              {% when 'envelope'%}
                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-open-envelope" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M78.33 51.24V13H21.59v38.22m10.34-26.63h36.26M31.93 34.4h36.26m-36.26 9.8h36.26"/><path class="a" d="m78.41 39.02 8.93 6.88v41.06H12.66V45.9l8.93-6.88"/><path class="a" d="m87.26 45.9-37.3 22.79-37.3-22.79m0 41.06 29.82-22.84m44.86 22.84L57.52 64.12"/></svg> -->
                <svg id="_圖層_2" data-name="圖層 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.29 22.68" height="65" width="65"><defs><style>      .cls-1 {        fill: #9fa0a0;        stroke-width: 0px;      }    </style></defs><g id="_圖層_2-2" data-name="圖層 2"><g><path class="cls-1" d="m28.32,0H.97C.44,0,0,.44,0,.97v1.96C0,3.02.1,3.12.18,3.16l14.37,8.21s.08.03.12.03.09-.01.12-.03L28.73,3.17c.08-.04.29-.16.36-.21.09-.06.19-.12.19-.24V.97c0-.54-.44-.97-.97-.97Z" /><path class="cls-1" d="m29.17,5.88c-.08-.04-.17-.04-.25,0l-7.89,4.64c-.06.04-.11.1-.12.17,0,.07.01.15.06.2l7.89,8.5c.05.05.11.08.18.08.03,0,.06,0,.09-.02.09-.04.15-.13.15-.23V6.09c0-.09-.05-.17-.12-.21Z" /><path class="cls-1" d="m18.76,12.08c-.08-.08-.2-.1-.3-.04l-3.16,1.86c-.37.22-.85.22-1.22,0l-2.78-1.59c-.09-.05-.21-.04-.29.03L.44,22.15c-.06.05-.08.13-.08.2s.05.14.12.18c.16.1.32.14.48.14h27.06c.1,0,.18-.06.22-.15.04-.09.02-.19-.04-.26l-9.45-10.19Z" /><path class="cls-1" d="m8.69,11.19c.06-.05.09-.13.08-.21,0-.08-.05-.14-.12-.18L.36,6.07c-.07-.04-.17-.04-.24,0-.07.04-.12.12-.12.21v12.41c0,.1.06.18.15.22.03.01.06.02.1.02.06,0,.12-.02.17-.07l8.28-7.68Z" /></g></g></svg>
              {% when 'gears'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-gears" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M51.11 53a18.75 18.75 0 0 0 .67-3.35l6.37-1.51L55.27 36l-6.37 1.56a18.51 18.51 0 0 0-4.68-5l1.87-6.28-11.9-3.55L32.32 29a18.68 18.68 0 0 0-6.62 1.59l-4.5-4.76-9 8.53 4.5 4.76a18.36 18.36 0 0 0-2 6.52l-6.35 1.57 2.88 12.08 6.37-1.51a18.62 18.62 0 0 0 4.67 4.95L20.4 69l11.91 3.55 1.87-6.27a18.67 18.67 0 0 0 6.62-1.58l4.5 4.76 9-8.53-4.5-4.76A19.38 19.38 0 0 0 51.11 53Z"/><circle class="a" cx="33.25" cy="47.67" r="9.13"/><path class="a" d="M84.49 35.6a11.31 11.31 0 0 0 .88-1.91h4v-7.63h-4a11.44 11.44 0 0 0-2.09-3.62l2-3.48-6.61-3.81-2 3.48a11.3 11.3 0 0 0-4.18 0l-2-3.48L63.86 19l2 3.49a11.22 11.22 0 0 0-1.22 1.71 12.09 12.09 0 0 0-.87 1.91h-4v7.63h4a11.63 11.63 0 0 0 2.09 3.62l-2 3.48 6.61 3.81 2-3.48a11.3 11.3 0 0 0 4.18 0l2 3.48 6.6-3.81-2-3.49a11.17 11.17 0 0 0 1.24-1.75Z"/><circle class="a" cx="74.58" cy="29.89" r="5.61"/><path class="a" d="M86.57 70.8a13.56 13.56 0 0 0 .49-2.41l4.59-1.08-2.05-8.7-4.6 1.08a13.3 13.3 0 0 0-3.36-3.58L83 51.6 74.45 49l-1.36 4.51a13.38 13.38 0 0 0-4.77 1.13l-3.23-3.44-6.52 6.13 3.23 3.43a13.19 13.19 0 0 0-.92 2.29 13.56 13.56 0 0 0-.49 2.41l-4.59 1.1 2.05 8.7 4.59-1.08a13.42 13.42 0 0 0 3.35 3.58l-1.35 4.51L73 84.85l1.36-4.51a13.38 13.38 0 0 0 4.77-1.13l3.23 3.44 6.52-6.13-3.23-3.44a12.78 12.78 0 0 0 .92-2.28Z"/><circle class="a" cx="73.72" cy="66.93" r="6.58"/></svg>
              {% when 'gift'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-gift" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M13.35 30.07h73.29v15.11H13.35zm4.53 15.11h64.23V87.5H17.88zM50 30.07V87.5M29.63 15.42a6.59 6.59 0 0 0-.81 4.33 7.75 7.75 0 0 0 1.39 3.94c2.48 2.65 8 5.94 19.88 6.38a21 21 0 0 0-4.26-12.2A13.13 13.13 0 0 0 36 12.51c-2.37-.09-4.89.49-6.37 2.91Z"/><path class="a" d="M69.9 14.75a6.55 6.55 0 0 1 1.29 5 8 8 0 0 1-1.39 4c-2.49 2.65-8 5.94-19.89 6.38a20.93 20.93 0 0 1 4.22-12.14A13.12 13.12 0 0 1 64 12.51a6.94 6.94 0 0 1 5.9 2.24Z"/></svg>
              {% when 'globe'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-globe" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M82.19 69.25a13.09 13.09 0 0 1-3.54-3 1.86 1.86 0 0 1 0-2.38c1.29-1.52 3.08-5-4.17-7.52a5.28 5.28 0 0 0-2.24 0 12.36 12.36 0 0 1-5.49 0 9.78 9.78 0 0 1-4.1-2.16c-.23-.2-.44-.41-.65-.63a10.08 10.08 0 0 1-2.17-10l.15-.46a8.09 8.09 0 0 0-3.92-9.55l-1.83-1c-3.54-1.58-5.69-3.88-6.39-6.83-1-4-.14-7.55 4.46-13.15M32 17.1a13 13 0 0 1 3.52 7.23 9.74 9.74 0 0 1-.52 4.76 11.74 11.74 0 0 1-2.16 3.61 10.49 10.49 0 0 0-1.72 2.73c-.62 1.51-1.12 3.44-.61 4.91a4 4 0 0 0 2.75 2.33c.25.08.52.16.8.23a5.11 5.11 0 0 1 4.24 4.65c.13 2-.82 4.29-2.68 6.44a17.84 17.84 0 0 1-6.76 4.78A15.87 15.87 0 0 1 23 59.93a14.39 14.39 0 0 1-3.14-.35c-3.45-.77-3.73-1.39-6.86-3.58m19.12 27c-.18-2.75-2.68-8.09.69-13.4a22.33 22.33 0 0 1 8.36-7.36c3.48-1.79 6.77-2.37 9-1.58a4.61 4.61 0 0 1 3.08 5.12v.83a4 4 0 0 0 1.21 3.3c1.49 1.26 4.42 1.3 6.66.91a2.55 2.55 0 0 0 .59-.18A12.09 12.09 0 0 1 67 69.43a9.74 9.74 0 0 1 4.51 1.2 12.61 12.61 0 0 1 5.41 5.51"/><circle class="a" cx="50" cy="50" r="37.5"/></svg>
              {% when 'package'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-package" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2.16px}</style></defs><path class="a" d="M50 89.87 15.33 69.86V30.08l34.78-19.95 34.56 19.95v39.78L50 89.87z"/><path class="a" d="M67.33 50.78V40.09L32.76 20.14m-17.43 9.94L50 50.09"/><path class="a" d="M50 89.87V50.09l34.67-20.01"/></svg>
              {% when 'phone'%}
                <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-phone" viewBox="0 0 100 100"><path d="M80.63 63.49 67.77 59.9a6.69 6.69 0 0 0-.75-.16h-.33a5.65 5.65 0 0 0-4.43 1.5l-3.95 3.66-.2.2c-.31.32-1.89 1.75-4.34.05l-.22-.15a73.21 73.21 0 0 1-19.1-19.2s-1.35-2 .17-3.56l4.24-4.48.17-.17c.3-.29 1.69-1.87.92-5.22l-3.37-12.71a5.77 5.77 0 0 0-1-2.1 5.31 5.31 0 0 0-3.16-1.95h-.25a22.6 22.6 0 0 0-6.35-.5 5.69 5.69 0 0 0-1.8.55 16.31 16.31 0 0 0-9 14.7 44 44 0 0 0 2 12 54.47 54.47 0 0 0 9.2 16.66s9.33 12.22 21.66 19.57a63.37 63.37 0 0 0 14.8 5.93s7 1.65 12.59-.54c0 0 7-2.43 9.5-8.56a5.37 5.37 0 0 0 .39-1.85 21.32 21.32 0 0 0-.77-5.8s-1.04-3.55-3.76-4.28Z" style="fill:none;stroke:#000;stroke-width:2px"/></svg> -->
                <svg id="_圖層_2" data-name="圖層 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.68 22.68" height="65" width="65"><defs><style>      .cls-1 {        fill: #9fa0a0;        stroke-width: 0px;      }    </style></defs><g id="_圖層_2-2" data-name="圖層 2"><g><path class="cls-1" d="m12.47,6.8c1.88,0,3.4,1.52,3.4,3.4,0,.63.51,1.13,1.13,1.13s1.13-.51,1.13-1.13c0-3.13-2.54-5.67-5.67-5.67-.63,0-1.13.51-1.13,1.13s.51,1.13,1.13,1.13Z" /><path class="cls-1" d="m12.47,2.27c4.38,0,7.94,3.55,7.94,7.94,0,.63.51,1.13,1.13,1.13s1.13-.51,1.13-1.13C22.68,4.57,18.11,0,12.47,0c-.63,0-1.13.51-1.13,1.13s.51,1.13,1.13,1.13Z" /><path class="cls-1" d="m22.39,15.77c-.13-.37-.44-.65-.82-.74l-6.8-1.55c-.38-.09-.77.03-1.04.29-.16.15-.17.16-.91,1.56-2.45-1.13-4.41-3.09-5.52-5.54,1.44-.73,1.45-.73,1.6-.9.27-.28.38-.67.29-1.04l-1.55-6.72c-.09-.38-.37-.69-.74-.82-.26-.09-.54-.16-.82-.2C5.8.05,5.51,0,5.22,0,2.34,0,0,2.34,0,5.22c.01,9.64,7.82,17.45,17.46,17.46,2.88,0,5.22-2.34,5.22-5.22h0c0-.29-.02-.58-.07-.86-.05-.28-.12-.56-.22-.83Z" /></g></g></svg>
              {% when 'plant'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-plant" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M15.33 86.58h69.34s-30.67-40.37-69.34 0Z"/><path class="a" d="M43.15 46.69s9 8.83 9.27 22m29.64-55.26s-27.38-1.32-25.37 25.16c0 0 23 5.54 25.37-25.16Zm0 0L56.69 38.59m6.5-6.42 13.16-.45m-6.3-6.37 9.7-.34m-16.56 7.16.45-13.07m6.41 6.25.34-9.91"/><path class="a" d="M50.64 59.11a32.68 32.68 0 0 1 6-20.52M18 21.31S16.67 48.7 43.15 46.69c0 0 5.54-23-25.15-25.38Zm-.01 0 25.16 25.38m-6.42-6.5-.45-13.16m-6.37 6.3-.34-9.7m7.16 16.56-13.08-.45m6.26-6.41L20 32.99"/></svg>
              {% when 'recycle'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-recycle" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M24 63.72h17.6v17.64h-6a12.87 12.87 0 0 1-11.57-7.24"/><path class="a" d="M24 63.72v.07a9.82 9.82 0 0 0-1.2 4.71 12.73 12.73 0 0 0 1.27 5.58l-10.21-20-.62-1.22a9.59 9.59 0 0 1-.58-2 9.27 9.27 0 0 1 1-6.12l2.51-4.58-3.36-1.81 8.07-1.55 8.07-1.54 3.12 7.59 3.13 7.6-3-1.62Zm25-44.44-8 15.66-15.72-8 2.7-5.3a12.87 12.87 0 0 1 11.7-7h.05"/><path class="a" d="M49 19.28v-.07A9.78 9.78 0 0 0 45.32 16a12.78 12.78 0 0 0-5.55-1.4h23.82a9.77 9.77 0 0 1 2 .38 9.24 9.24 0 0 1 5 3.66l2.94 4.31 3.14-2.17-2.27 7.87-2.29 7.9-8.18-.67-8.19-.66 2.8-1.94ZM76 63.5 67.6 48l15.53-8.38L86 44.89a12.86 12.86 0 0 1-.87 13.62"/><path class="a" d="M76 63.5a9.82 9.82 0 0 0 4.71-1.18 12.78 12.78 0 0 0 4.3-3.77L72.31 77l-.78 1.12a9 9 0 0 1-1.45 1.44 9.27 9.27 0 0 1-5.85 2L59 81.6v3.82l-5.2-6.36-5.2-6.37 5.21-6.35L59 60v3.41Z"/></svg>
              {% when 'ribbon'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-ribbon" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M44.18 67.51 30 89.72l-4.44-12.19-12.93 1.1 14.19-22.18a28.86 28.86 0 0 0 13.79 10.08 26.93 26.93 0 0 0 3 .85Zm43.19 11.12-12.93-1.1L70 89.72 55.81 67.51l.63-.13a26.76 26.76 0 0 0 2.94-.85 28.8 28.8 0 0 0 13.8-10.08Z"/><path class="a" d="M78.92 39.19a28.82 28.82 0 0 1-3.61 14 30 30 0 0 1-1.74 2.73 5 5 0 0 1-.39.52 28.8 28.8 0 0 1-13.79 10.09 26.76 26.76 0 0 1-2.94.85l-.63.13a29 29 0 0 1-11.63 0l-.62-.13a26.93 26.93 0 0 1-3-.85 28.86 28.86 0 0 1-13.75-10.08c-.13-.17-.26-.34-.38-.52q-.93-1.32-1.74-2.73a28.92 28.92 0 1 1 54.22-14Z"/><path class="a" d="m56.95 42.84 1.63 9.55L50 47.88l-8.58 4.51 1.64-9.55-6.95-6.77 9.6-1.39 4.29-8.7 4.29 8.7 9.6 1.39-6.94 6.77z"/></svg>
              {% when 'sales-tag'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-sales-tag" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="m69.33 23.02-16.5.11L12.5 63.46l27.35 27.22 40.33-40.33.04-16.43-10.89-10.9z"/><circle class="a" cx="65.05" cy="38.2" r="5.51"/><path class="a" d="M71 24.67c3.46-6 7.64-11.82 10.22-13.91a4.93 4.93 0 0 1 3.52-1.42 3.38 3.38 0 0 1 2.78 3.14c.21 8.33-17.56 23.19-17.56 23.19M19.09 56.91l27.34 27.22"/></svg>
              {% when 'shield'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-shield" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M51.18 7.63c5.54 3.1 17.09 8.07 34.33 8.07h1.07v23.72A56.14 56.14 0 0 1 80 66.07C73.58 78 63.89 85.62 51.18 88.83 38.48 85.62 28.79 78 22.36 66.06a56.08 56.08 0 0 1-6.58-26.64V15.7h1.07c17.25 0 28.8-4.97 34.33-8.07Z"/><path class="a" d="M66.15 37.87 45.43 58.59l-9.21-9.21"/></svg>
              {% when 'stopwatch'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-stopwatch" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><circle class="a" cx="60.82" cy="54.12" r="4.26"/><path class="a" d="M46.92 78.41a28 28 0 1 0-14.08-24.28"/><path class="a" d="M32.84 54.13a28 28 0 1 1 14.08 24.28m-12.78-9.04H11.19m27.51-6.72H23.4m15.3 13.44H23.4"/><path class="a" d="M32.84 54.13a28 28 0 1 1 14.08 24.28m13.9-61.47v14.24m-17.98 1.51 3.08 3.99M33.27 49.27l4.96.87m13.02 30.28 1.72-4.73m17.42 4.73-1.72-4.73m16.39-7.57L80.7 65.6m7.68-16.33-4.88 1.31m-4.69-17.89-3.08 4.03M60.82 49.87V39.6M54.4 16.94h12.84"/></svg>
              {% when 'store'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-store" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M83 50.49a6.61 6.61 0 0 1-6.61-6.61 6.61 6.61 0 1 1-13.21 0 6.61 6.61 0 1 1-13.22 0 6.61 6.61 0 1 1-13.21 0 6.61 6.61 0 1 1-13.22 0A6.61 6.61 0 0 1 17 50.49a7.23 7.23 0 0 1-1.4-.15v34.81h6.55V57.57H40v27.58h44.43V50.34a7 7 0 0 1-1.43.15Zm-4.31 25.08H46.56v-18h32.13Z"/><path class="a" d="M22.11 57.57h17.9v27.58h-17.9zm24.45 0H78.7v18H46.56z"/><path class="a" d="M22.11 57.57h17.9v27.58h-17.9zm24.45 0H78.7v18H46.56zM27 14.84l-3.43 19.37v9.67A6.61 6.61 0 0 1 17 50.49a7.23 7.23 0 0 1-1.4-.15 6.62 6.62 0 0 1-5.21-6.46v-9.67l5.21-19.37Z"/><path class="a" d="M36.78 34.21v9.67a6.61 6.61 0 1 1-13.22 0v-9.67L27 14.84h11.52Z"/><path class="a" d="M50 14.84v29a6.61 6.61 0 1 1-13.21 0v-9.63l1.74-19.37Z"/><path class="a" d="M63.22 34.21v9.67a6.61 6.61 0 1 1-13.22 0v-29h11.48Z"/><path class="a" d="M76.43 34.21v9.67a6.61 6.61 0 1 1-13.21 0v-9.67l-1.74-19.37H73Z"/><path class="a" d="M89.65 34.21v9.67a6.62 6.62 0 0 1-5.22 6.46 7 7 0 0 1-1.39.15 6.61 6.61 0 0 1-6.61-6.61v-9.67L73 14.84h11.44Z"/><circle class="a" cx="34.86" cy="74.25" r="1.52"/></svg>
              {% when 'thumbs-up'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-thumbs-up" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M16.01 54.13h20.02v35.22H16.01z"/><path class="a" d="m36 82.72 3.84 2.63a11.53 11.53 0 0 0 6.54 2h13.91M36 58.78l2.07-1.93A10.23 10.23 0 0 0 40.26 54l7.66-15a7.4 7.4 0 0 0 .81-3.36v-8.3a2.93 2.93 0 0 1 2.92-2.94c2.41 0 5.78 1 7.92 6.18a18.63 18.63 0 0 1 1 10.5l-1.29 6.94h19A4.91 4.91 0 0 1 83.16 53a4.91 4.91 0 0 1-4.91 4.92H59.6m3.08 9.8H76a4.91 4.91 0 0 1 4.91 4.92A4.91 4.91 0 0 1 76 77.55H65.65"/><path class="a" d="M65.65 77.55h6.12a4.92 4.92 0 0 1 4.92 4.92 4.93 4.93 0 0 1-4.92 4.92h-12.5m.33-29.5h19.47A4.92 4.92 0 0 1 84 62.81a4.91 4.91 0 0 1-4.92 4.91h-16.4m-9.49-47.66v-9.41m-5.86 11.47-6.05-7.22m2.87 12.56-9.27-1.64m27.16 1.86 9.27-1.64M59 22.26l6.05-7.21"/></svg>
              {% when 'trophy'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-trophy" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M33.62 87.94h32.76m4.79-37.86a8.85 8.85 0 0 0 3.21-.93c4.16-2.09 7.12-7.42 7.12-13.65V18.63H73M28.83 50.08a8.85 8.85 0 0 1-3.21-.93c-4.16-2.09-7.12-7.42-7.12-13.65V18.63H27M55.94 38.9l1.4 8.17L50 43.21l-7.34 3.86 1.4-8.17-5.94-5.79 8.21-1.19L50 24.48l3.67 7.44 8.21 1.19-5.94 5.79z"/><path class="a" d="M27 12.06V40a27.76 27.76 0 0 0 .45 5 4.1 4.1 0 0 0 .11.61 27 27 0 0 0 1.26 4.44c3.18 8.38 10.12 14.49 18.43 15.6a19.25 19.25 0 0 0 2.75.19 18.87 18.87 0 0 0 2.73-.19 22 22 0 0 0 13.52-7.38 26.16 26.16 0 0 0 4.91-8.19 27 27 0 0 0 1.26-4.44 4.1 4.1 0 0 0 .11-.61A27.76 27.76 0 0 0 73 40V12.06Zm22.97 53.78v22.1"/></svg>
              {% when 'truck'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-truck" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="m44.36 67.09-2.17.01h20.46V28.83H22.27v3.93m0 23.71V67.1h8.78l-2.18-.01"/><path class="a" d="M36.62 59.5a5.83 5.83 0 0 0-5.84 5.83 5.84 5.84 0 0 0 11.68 0 5.84 5.84 0 0 0-5.84-5.83Zm41.38 0a5.84 5.84 0 0 0-5.85 5.83 5.84 5.84 0 0 0 11.68 0A5.83 5.83 0 0 0 78 59.5Z"/><path class="a" d="m70.26 67.09 2.17.01h-9.78V34.03h12.31l15.06 15.06h4.67V67.1H83.57l2.18-.01"/><path class="a" d="M66.95 49.1V38h5.49l11.04 11.03-16.53.07zm-38.69-4.57H5.31m27.5-6.72h-15.3m15.3 13.44h-15.3"/></svg>
              {% when 'wallet'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-wallet" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M69.36 55.8a2.45 2.45 0 1 1-2.45 2.45 2.45 2.45 0 0 1 2.45-2.45Z"/><path class="a" d="M61.77 58.24a7.92 7.92 0 0 0 7.94 7.94H85V85H18.49a6 6 0 0 1-6-6V28a4.64 4.64 0 0 0 4.67 4.66H85v17.65H69.71a7.93 7.93 0 0 0-7.94 7.93Z"/><path class="a" d="M86 50.31H69.71a7.94 7.94 0 1 0 0 15.87H86a1.53 1.53 0 0 0 1.53-1.52V51.84A1.54 1.54 0 0 0 86 50.31ZM12.5 28a4.66 4.66 0 0 1 4.67-4.66H47m21.65-.02h10.82v9.33"/><path class="a" d="M72.99 32.65H27l20.01-9.33 17.78-8.28 3.86 8.28 4.34 9.33z"/></svg>
            {% endcase %}
          </div>
          <div class="text-with-icons__block-title">
            <h3>{{ block.settings.title }}</h3>
          </div>
          <div class="text-with-icons__block-text">
            {{ block.settings.text }}
          </div>
        </div>
      {% endfor %}
    </div>
    {%- if section.settings.button_label != blank -%}
      <div class="text-with-icons__button">
        <a href="{{ section.settings.button_link }}" class="btn btn--tertiary">
          {{ section.settings.button_label }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% style %}
  #shopify-section-{{ section.id }} .icon {
    color: {{ section.settings.icon_color }};
  }
{% endstyle %}

{% schema %}
{
  "name": "t:common.text_with_icons.name.label",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:common.text_with_icons.settings.title.label"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:common.text_with_icons.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:common.text_with_icons.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.text_with_icons.settings.align_text.options.center.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_columns_per_row",
      "label": "t:common.text_with_icons.settings.desktop_columns_per_row.label",
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "t:common.text_with_icons.settings.icon_color.label",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:common.text_with_icons.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:common.text_with_icons.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "alt",
      "label": "t:common.text_with_icons.settings.alt.label"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "t:common.text_with_icons.blocks.column.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:common.text_with_icons.blocks.column.settings.icon.label",
          "default": "chat",
          "options": [
            {
              "value": "bills",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.bills.label"
            },
            {
              "value": "calendar",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.calendar.label"
            },
            {
              "value": "cart",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.cart.label"
            },
            {
              "value": "charity",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.charity.label"
            },
            {
              "value": "chat",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.chat.label"
            },
            {
              "value": "envelope",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.envelope.label"
            },
            {
              "value": "gears",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.gears.label"
            },
            {
              "value": "gift",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.gift.label"
            },
            {
              "value": "globe",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.globe.label"
            },
            {
              "value": "package",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.package.label"
            },
            {
              "value": "phone",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.phone.label"
            },
            {
              "value": "plant",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.plant.label"
            },
            {
              "value": "recycle",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.recycle.label"
            },
            {
              "value": "ribbon",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.ribbon.label"
            },
            {
              "value": "sales-tag",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.sales-tag.label"
            },
            {
              "value": "shield",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.shield.label"
            },
            {
              "value": "stopwatch",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.stopwatch.label"
            },
            {
              "value": "store",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.store.label"
            },
            {
              "value": "thumbs-up",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.thumbs-up.label"
            },
            {
              "value": "trophy",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.trophy.label"
            },
            {
              "value": "truck",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.truck.label"
            },
            {
              "value": "wallet",
              "label": "t:common.text_with_icons.blocks.column.settings.icon.options.wallet.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:common.text_with_icons.blocks.column.settings.title.label",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text_with_icons.blocks.column.settings.text.label",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:common.text_with_icons.presets.text_with_icons.name",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}

