<style>
  .fullVideoDiv-sean {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 比例 */
  }
  .fullVideoDiv-sean iframe {
    {% comment %} position: absolute; {% endcomment %}
    top: -10%; /* 稍微放大並往上移，隱藏頂部標題 */
    left: 0;
    width: 100%;
    height: 120% !important; /* 增加高度以裁切掉頂部與底部的黑邊或資訊 */
    {% comment %} pointer-events: none; {% endcomment %}
  }
</style>

<section class="section section--text-centered" data-section-id="{{ section.id }}" data-section-type="VideoFull-sean">
  <div class="container" style="padding:0; max-width:100%;">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h3">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    <div class="video-item is-playing" data-action="play-video" style="pointer-events: none;">
      <div class="video-wrapper">
        <div class="video-wrapper__image-wrapper">
          {%- if section.settings.image -%}
            {{-
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag:
                loading: 'lazy',
                sizes: 'min(100vw, 860px)',
                widths: '300,400,500,600,700,800,900,1000,1200',
                class: 'video-wrapper__image'
            -}}
          {%- elsif bsectionlock.settings.video_url.type == 'youtube' -%}
            <img
              class="video-wrapper__image"
              src="https://img.youtube.com/vi/{{ section.settings.video_url.id }}/maxresdefault.jpg"
              alt=""
            >
          {%- else -%}
            <div class="placeholder-background">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}

          {% render 'icon', icon: 'play' %}
        </div>

        {% if section.settings.video_url.type == 'youtube' %}
          {% comment %} <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&showinfo=0&controls=1&rel=0&modestbranding=1" data-src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe> {% endcomment %}
          <div class="fullVideoDiv-sean">
            <iframe
              src="https://www.youtube.com/embed/{{ section.settings.video_id }}?autoplay=1&loop=1&playlist={{ section.settings.video_id }}&mute=1&rel=0&modestbranding=1&iv_load_policy=3&controls=0&playsinline=1"
              frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen
            >
            </iframe>
          </div>
        {% elsif section.settings.video_url.type == 'vimeo' %}
          <iframe
            data-src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&portrait=0&byline=0&color={{ settings.accent_color | remove_first: '#' }}"
            frameborder="0"
          ></iframe>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "VideoFull-sean",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Videos"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["vimeo", "youtube"],
      "label": "Video",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "video_id",
      "label": "VideoID",
      "default": "_9VUPq3SxOc"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1200 x 700px .jpg recommended. Used when video is not loaded (required for Vimeo and YouTube)."
    }
  ],
  "presets": [
    {
      "category": "Media",
      "name": "VideoFull-sean"
    }
  ]
}
{% endschema %}
